.stationItemContainer {
  display: flex;
  justify-content: center;
  padding: 0.3rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.stationItemContainer:hover {
  z-index: 2;
  margin-bottom: 1rem;
  padding: 0.7rem;

  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* GlassMorp */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.iText {
  font-size: 12px;
}

.name,
.company,
.disc,
.discNot {
  width: 29%;
}

.bensin {
  width: 10%;
  font-weight: bold;
}

.disc {
  color: rgb(255, 69, 0, 0.8);
}
.discNot {
  color: rgb(26, 150, 26, 0.8);
}
