@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

$primaryBackGrad: linear-gradient(
  to left bottom,
  #f82ec3,
  #e550d7,
  #cf67e7,
  #b978f2,
  #a287f9,
  #9589fa,
  #878afa,
  #798bf9,
  #6e82f7,
  #6479f6,
  #5870f4,
  #4c67f2
);
$googleFontOne: 'Rubik Mono One', sans-serif;
$googleFontTwo: 'Walter Turncoat', cursive;

html,
body,
#root,
.AppContainer {
  min-height: 100vh;
  /* Gradiend */
  background-image: $primaryBackGrad;
}

/*

  THEME SLIDER 

*/

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  outline: none !important;
  appearance: none;
  border: none;
  border-radius: 30px;
}
input[type='range']::-moz-focus-outer {
  border: 0;
}
input[type='range']:hover {
  outline: none;
}

/* Chrome */

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: #e7e9e7;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}

/* Moz */

input[type='range']::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #f1f9f4;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
}
input[type='range']::-moz-range-progress {
  background-color: #fff;
  height: 100%;
  border-radius: 30px;
  border: none;
}
input[type='range']::-moz-range-track {
  background-color: #ccc;
  border-radius: 30px;
  border: none;
  height: 100%;
}

/* IE*/

input[type='range']::-ms-fill-lower {
  background-color: #fff;
  height: 100%;
  border-radius: 30px;
  border: none;
}
input[type='range']::-ms-fill-upper {
  background-color: #ccc;
  border-radius: 30px;
  border: none;
  height: 100%;
}

/*

  THEME SLIDER END

*/

/* App Container */
.AppContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.themeContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

#theme {
  width: 3rem;
}

.gasSectionTitle {
  font-size: 40px;
  line-height: 2;
  font-family: $googleFontTwo;
}

.outercontainerFlexTitle {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 70%;
}

.outercontainerFlex {
  width: 35%;
}

.outercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  z-index: 0;

  /* GlassMorp */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  &:hover {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(249, 250, 255, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.outercontainer:nth-child(2),
.outercontainer:nth-child(3),
.outercontainer:nth-child(4) {
  margin-top: 2%;
}

.innercontainer {
  padding: 1rem;
  width: 100%;
}

.titleContainer {
  padding: 0.7rem;
}

.title {
  font-size: 24px;
  letter-spacing: 0.048;
  font-family: $googleFontOne;
}

/* Spjaldtölvur */
@media only screen and (min-width: 768px) and (max-width: 800px) {
  /* App Container */
  .AppContainer {
    flex-direction: row;
  }

  .outercontainerFlexTitle {
    width: 60%;
  }

  .gasSectionTitle {
    font-size: 30px;
    line-height: 3;
  }

  .outercontainerFlex {
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .outercontainer {
    margin-top: 2rem;
    width: 100%;
  }

  .title {
    font-size: 16px;
  }
}

/* Mobiles */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  /* App Container */
  .AppContainer {
    flex-direction: column;
  }

  .outercontainerFlexTitle {
    width: 95%;
  }

  .gasSectionTitle {
    font-size: 20px;
    line-height: 3;
  }

  .outercontainerFlex {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .outercontainer {
    margin-top: 2rem;
    width: 95%;
  }

  .title {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
}
